apiVersion: v1
kind: Service
metadata:
  name: frontend-proxy-nodeport
  namespace: otel-demo
spec:
  type: NodePort
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
  selector:
    opentelemetry.io/name: frontend-proxy
